body {
  margin: 0px;
  background: var(--color-0);
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}
