.footer-bg {
  background: #13183f;
}

.footer {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer img {
  width: 114px;
}

@media (max-width: 800px) {
  .footer img {
    width: 89px;
  }
}
